<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
      
    <% if @anime.errors.any? %>
     <div class= "errors">
      <div class="errors-head"><%= @anime.errors.count %>error prohibited this obj from being saved:</div>
      <% @anime.errors.full_messages.each do |message| %>
        <div class= "errors-content">
          <ul>
            <li class="errors-text"><%= message %></li>
          </ul>
        </div>
      <% end %>
     </div>
    <% end %>
      
      
        <h2>User info</h2>
        <table class='table'>
          <tr>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "default-image.jpg" %>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </table>　 
        <div class='row'>
          <% if @user.id == current_user.id %>
            <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </div>

      </div>
      
    <!--anime一覧-->
      <div class='col-md-8 offset-md-1'>
        <table class='table table-hover table-inverse'>
        <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
        </thead>
      <tbody>
         <% @animes.each do |book| %>
            <tr> 
            <td><%= link_to user_path(anime.user.id) do %>
            <%= image_tag 'default-image.jpg' %>
        　　<% end %></td>
             <td><%= link_to anime.title, anime_path(anime.id)%></td>
             <td><%= anime.body %></td>
           </tr>
         <% end %>
      </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
